@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");


.body-background.full-screen {
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.466),
      rgba(0, 0, 0, 0.466)
    ),
  url("../../img/background.jpg");  
}

.body-background {
  min-height: 100vh;
  display: flex;
}


.Home {
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  flex-direction: column;
  margin: 0px auto;
  width: 80%;
  height: 500px;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  margin-top: 80px;  
}

.Logo img {
  height: 150px;
  margin-top: -20px;
  animation: bounce; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 2s; /* don't forget to set a duration! */
  }



.Buttons {
  display: grid;
  grid-gap: 20px;
  padding-top: 60px;
}

.Button {
  background-color: #ff840b;
  border: none;
  padding: 20px;
  border-radius: 5px;
}

.Button a {
  text-decoration: none;
}

h2 {
  color: white;
  font-size: 25px;
  text-transform: uppercase;
  text-decoration: none;
}

.Soy {
  margin-top: 20px;
  color: #ff1e22;
}

/* Tablet*/
@media only screen and (min-height: 1025px) and (max-height: 3160px) {
  .Home {
    height: 1100px;
    width: 75%;
  }
  .Buttons {
    width: 350px;
    margin-bottom: 100px;
  }
  .Logo,
  img {
    height: 260px;
  }
  
  .Home {
    margin-top: 150px;
  }
}

/* Desktop */
@media only screen and (min-width: 1221px) {
  .Home {
    width: 50%;
    height: 500px;
  }

  .Buttons {
    display: flex;
    grid-gap: 20px;
    padding-top: 50px;
    width: 300px;
    margin-left: -30px;
  }

  .Logo,
  img {
    height: 150px;
    margin-top: -40px;
  }
}
