<form [formGroup]="addItemForm" (submit)="addItem()">
    <mat-form-field appearance="fill">
        <mat-label for="">Item: <input matInput type="text" formControlName="item"></mat-label>
    </mat-form-field>

    <label for="">Price: <input type="number" formControlName="price"></label>
    <label for="">Category: <input type="text" formControlName="category"></label>
    <label for="">Time: <input type="text" formControlName="time"></label>
    <button type="submit" [disabled]="!addItemForm.valid">Add Item</button>
</form>