<p>
  <mat-toolbar color="primary">
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button class="category-menu" mat-menu-item routerLink="/home">
        Home
      </button>
      <button class="category-menu" mat-menu-item routerLink="/mesero">
        Mesero
      </button>
      <button class="category-menu" mat-menu-item routerLink="/cocina">
        Cocina
      </button>
      <button class="category-menu" mat-menu-item routerLink="/administracion">
        Administración
      </button>
    </mat-menu>
    <span>cocina</span>
  </mat-toolbar>
</p>

<div class="center" *ngIf="orders$.length == 0">
  <p class="quicksand">No hay pedidos en cocina</p>
</div>

<div [hidden]="orders$.length == 0">
  <div class="row">
    <div class="col-sm-12 col-md-6 offset-md-3 col-lg-6 offset-lg-3">
      <mat-card class="line-height">


        <div *ngFor="let order of orders$">
          <p class="quicksand right-align">Mesa: {{ order.table }}</p>
          <div *ngFor="let item of order.items">
            <p class="quicksand">{{ item.item }}</p>
          </div>
          <div class="center">
            <button mat-raised-button color="primary" (click)="addCompleteOrder(order, order.id)">Marcar como
              listo</button>
          </div>
        </div>


      </mat-card>
    </div>
  </div>
</div>