.quicksand {
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
}

.center {
  text-align: center;
}

.right-align {
  text-align: right;
  color: #901111;
}

.line-height p {
  line-height: 10px;
}
