<div>
  <form [formGroup]="addItemForm" novalidate (ngSubmit)="addItem()">
    <mat-card class="shipping-card">
      <mat-card-header>
        <mat-card-title>Add item to menu</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="Item" formControlName="item">
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput type="number" placeholder="Price" formControlName="price">
              <span matPrefix>$&nbsp;</span>
              <mat-error *ngIf="addItemForm.controls['price'].hasError('required')">
                Price is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <mat-select placeholder="Category" formControlName="category">
                <mat-option *ngFor="let category of categories" [value]="category.cod">
                  {{ category.name }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="addItemForm.controls['category'].hasError('required')">
                Category is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field class="full-width">
              <mat-select placeholder="Time" formControlName="time">
                <mat-option *ngFor="let time of times" [value]="time.cod">
                  {{ time.name }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="addItemForm.controls['time'].hasError('required')">
                Time is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>

        <!-- <div class="row" *ngIf="!hasUnitNumber">
        <div class="col">
          <button mat-button type="button" (click)="hasUnitNumber = !hasUnitNumber">
            + Add C/O, Apt, Suite, Unit
          </button>
        </div>
      </div>
      <div class="row" *ngIf="hasUnitNumber">
        <div class="col">
          <mat-form-field class="full-width">
            <textarea matInput placeholder="Address 2" formControlName="address2"></textarea>
          </mat-form-field>
        </div>
      </div> -->


      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" type="submit">Submit</button>
      </mat-card-actions>
    </mat-card>
  </form>
</div>