.full-width {
  width: 100%;
}

// .shipping-card {
//   min-width: 100px;
//   margin: 20px auto;
// }

.mat-radio-button {
  display: block;
  margin: 5px 0;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  flex: 1;
  margin-right: 20px;
}

.col:last-child {
  margin-right: 0;
}

.center {
  text-align: center;
}

.quicksand {
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
}

.title {
  color: #901111;
}

.container-form {
  margin: 20px 0 35px 0;
}
