.containerNameClient {
    display: flex;
    .nameClient {
        position: absolute;
        top: 10%;
        left: 10%;
        font-size: 20px;
        font-weight: bold;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: #8A5E3B;
        .txtClient {
            background-color: transparent;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: 18px;
            margin-left: 15px;
            border: 0.5px solid black;
            border-radius: 8px;
        }
    }
    }
   