.botones{
    background-color: rgb(255, 255, 255, 0.70);
    border-radius: 10px;
    width:170px;
    height: 200px;
    margin : 10px;
    padding: 5px;
    display: inline-grid;
    justify-content: center;
    align-items: center;
}

.intentoList {
    list-style: none;
    display: -webkit-inline-box;
}
.botonesOpciones{
    display: flex;
    margin: 26% -53%;
}
.imgAdicion{
    width: 51%;
    margin: 8% 28%;
    border-radius: 14px;
}