:root {
    --main-color: rgba(180, 103, 103, 0.226);
    --headerMesero-color: #581010;
    --headerCocina-color: #233152;
    --borderRadius-buttoms: 20px;
    --borderSecundary-buttoms: 0 20px 20px 0;
    --borderThird-buttoms:20px 0 0 20px;
    --buttoms-color: #F7F7F7;
    --buttomsSecundary-color:#E0BDBD;
    --buttomSecundary-Over:#D19E9E;
    --padding-buttoms: 1em;
}
.lista{
    list-style: none;
}
.list-unstyled{
    list-style: none;
}

.botonesClase{
    border-radius: var(--borderSecundary-buttoms);
    background-color: var(--buttoms-color);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #707070;
    width: 75%;
    height: 3.5em;
    border: none;
    margin-left: 10px;
    vertical-align: top;
    margin: 1px 10px;
}

.botonesHamburguesa{
    border-radius: var(--borderSecundary-buttoms);
    background-color: var(--buttoms-color);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #707070;
    margin: 0px 10px;
    padding: 13px 10px;
    vertical-align: 1em;
}

.imgPrincipal{
    border-radius: var(--borderThird-buttoms);
    width: 4em;
    margin-left: -42px;
}

p{
    color: #707070;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

