
  .factura1 {
    background-color: #ffffff;
    color: #741616;
    padding: 1em;
    margin: 1em;
    width: 80%;
    height: 531px;
    border-radius: 10px;
    overflow: auto;
  }
  .title {
    font-size: 2em;
    padding: 0.2em;
    border-bottom: 3px;
    border-bottom-style: solid;
    border-color: #741616;
    text-emphasis-color: #741616;
  }
  
  .total {
    font-size: 1.25em;
    padding: 0.2em;
    border-bottom: 3px;
    border-top-style: solid;
    border-color: #741616;
  }
 .imgMenos{
  width: 13.5%;
  margin: -3.5% 14%;
 }
 .listFactr{
  width: 117%;
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 13% -33%;
  padding: 3% 10%;
 }
 