@font-face {
  font-family: kind;
  src: url(../styles/Kind.otf);
}
.Navbar {
  width: 100vw;
  height: 15vh;
  padding: 0.5rem 0;
  background-color: #581010;
  position: fixed;
  top: 0;
}
.Navbar-c {
  width: 100vw;
  height: 10vh;
  padding: 0.5rem 0;
  background-color: #233152;
  position: fixed;
  top: 0;
}
.Navbar__brand {
  color: #ffffff;
  height: 7em;
  display: flex;
  align-items: center;
}

.Navbar__brand:hover {
  color: #ffffff;
  text-decoration: none;
}

.Navbar__brand-logo {
  margin-right: 0.9rem;
  width: 5em;
  padding-left: 2em;
}
.font-weight-light {
  font-family: kind;
  font-size: 9vw;
}
.font-weight-bold {
  font-family: kind;
  font-size: 9vw;
}
.Navbar-p {
  display: inline;
  font-size: 3vw;
  padding: 5rem;
  float: right;
  margin-top: -13%;
  color: #ffffff;
}
a {
  text-decoration: none;
}

@media (min-width: 700px) and (max-width: 1290px) {
  .Navbar-p {
    padding: 4.6rem 4rem;
    margin-top: -19%;
  }
  .Navbar{
    height: 10vh;
  }
}
