.form-control {
    background-color: #b4676770;
    border-radius: 15px;
    width: 90%;
    height: 150px;
    border: none;
    font-size: 3em;
  }
  .nombre {
    padding-left: 54px;
    padding-top: 100px;
    color: #741616;
  }
  .inputNombre {
    padding-left: 250px;
    padding-top: 21px;
    margin: 47px 7px;
    border: none;
    border-bottom-style: solid;
    border-color: #741616;
    background-color: #b4676700;
    outline: none;
  }
 