@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");



.body-notfound {
  text-align: center;
  background: radial-gradient(circle at 100% 0%, #ffd872 0, #ffc866 16.67%, #ffb356 33.33%, #ff9943 50%, #f37e32 66.67%, #ea672a 83.33%, #e55429 100%);
  min-height: 100vh;
  
}

.icon img {
  margin-top: 200px;
}

.icon h1 {  
  font-size: 50px;
}
