@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

.body-notfound {
  text-align: center;
  background-color: orangered;
  height: 100vh;
}

.icon {
  border: 2px solid green;
  margin-top: 200px;
}
