<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-8 offset-lg-2">
        <div class="row main-cover">
            <div class="col-6 text-cover">
                <div>
                    <h1 class="cover-text">Burger <span class="queen">Queen</span></h1>
                </div>
                <div>
                    <button mat-stroked-button id="btn-start" color="primary" routerLink="/mesero">
                        Comenzar
                    </button>
                </div>
            </div>
            <div class="col-6 images-cover">
                <div class="row cover-image img-cover-1"></div>
                <div class="row cover-image img-cover-2"></div>
                <div class="row cover-image img-cover-3"></div>
            </div>
        </div>
    </div>
</div>