@import "src/App.scss";


#home {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.home-section {
    display: flex;
    width: 50%;
}

.home-section:first-child {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: $alfa;
    background: $omega;
}

.home-section:last-child {
    justify-content: center;
    flex-direction: column;
    align-items: center;

    & div {
        margin: auto;
        display: flex;
        flex-direction: column;

        & > h1, label > h1 {
            text-align: center;
            margin: 30px;
        }
        & > a {
            margin-bottom: 30px;
        }
    }

}

.name-employee {
    height: 50px;
    width: 300px;
    border: 1px solid gray;
    font-size: 16px;
    text-align: center;
    border-radius: 5px;
}

.letra
{
  font-weight: bolder;
  font-size:40px;
  font-size: 45px;
  text-align: center;
  color: #7B2F22;
  font-family: 'Roboto';
}

.icon-home{
  position: absolute;
  left: 40px;
  bottom: 7px;
}

.home-error-input{
  color: $epsylon;
}
