*{
  margin: 0;
  padding: 0;
  font-size: 18px;
  @font-face {font-family: "Big John"; src: url("//db.onlinewebfonts.com/t/65512fc0c1cc10babc352afa2959c05a.eot"); src: url("//db.onlinewebfonts.com/t/65512fc0c1cc10babc352afa2959c05a.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/65512fc0c1cc10babc352afa2959c05a.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/65512fc0c1cc10babc352afa2959c05a.woff") format("woff"), url("//db.onlinewebfonts.com/t/65512fc0c1cc10babc352afa2959c05a.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/65512fc0c1cc10babc352afa2959c05a.svg#Big John") format("svg"); }
}

.container{
  height: 100vh;
  background-image: url(https://firebasestorage.googleapis.com/v0/b/burguer-queen-88.appspot.com/o/resources%2Fbackground-general.jpg?alt=media&token=3ea09b95-7d1b-4d20-942d-7d208f5f76ab);
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav{
  width: 10vw;
}

.menu{
  height: 100vh;
  width: 90vw;
  background: #FFFFFF;
  border-radius: 55px 0px 0px 55px;
  --smooth-corners: 10;
  padding: 2.5vw;
  display: flex;
}
