$mostaza:#F1B007;
@font-face {
  font-family:Cookie-Regular;
  src: url(../Letras/Cookie-Regular.ttf);
}
@font-face{
  font-family: OPTIChampionBold;
  src: url(../Letras/OPTIChampionBold.otf);
}

*{
  margin:0px;
  padding: 0%;
  height:100%;
  box-sizing: border-box;
}

.background{
    background: url(../../Fondos/fondo_inicio.jpg);
    width: 100%;
    height: 100%;
    position: fixed;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;

    .welcome{
      width:30%;
      height: 30%;
      display: flex;
      flex-direction: column;
      align-items: center;

      h2{
        font-family: Cookie-Regular;
        font-size: 7vw;
      }

      h1{
        margin-top: -12%;
        font-family: OPTIChampionBold;
        font-size: 6.5vw;
      }

      .startOrder{
        background-color: $mostaza;
        width: 40%;
        height: 45px;
        border-radius: 10px;
        font-family: OPTIChampionBold;
        font-size: 1.2vw;
      }
    }
}