@import 'login';
.navigation{
    background-color: $mostaza;
    width: 80%;
    height: 35%;
    margin-top: 6%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row;

    h3{
        font-family: OPTIChampionBold;
        font-size: 3.5vw;
        }

    h2{
        font-family: Cookie-Regular;
        font-size: 3.5vw;
        margin-top: 10px;
    }   
}