@font-face {
    font-family: Rancho-Regular;
    src: url(../Letras/Rancho-Regular.ttf);
}


.containerGlobal {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    .containerCliente {
        width: 90%;
        height: 43px;
        margin-top: 5%;
        margin-left: 5%;

        label {
            font-family: Rancho-Regular;
            font-size: 5vh;

            input {
                width: 70%;
                height: 30px;
                border-radius: 5px;
            }
        }
    }

    .menuBreak {
        margin-top: 2%;
        background-color: rgb(184, 181, 181);
        border-radius: 4%;
        height: 400px;
        width: 30%;
        height: 400px;
        transition: 850ms;

        .containerBreakfast {
            display: none;
    
            .itemsBreak {
                font-family: Rancho-Regular;
                background-color: rgb(13, 13, 14);
                border-radius: 5px;
                display: flex;
                flex-direction: column;
                align-items: center;
                color: rgb(236, 206, 160);
                float: left;
                width: 35%;
                height: 20%;
                margin-top: 3%;
                margin-left: 10%;
                margin-right: 2%;
                margin-bottom: 2%;
                padding: 2%;
    
                &:nth-child(2n) {
                    margin-right: 0;
                }
            }
        }

        .containerBreakfast-active{
            display: block;

            .itemsBreak {
                font-family: Rancho-Regular;
                background-color: rgb(13, 13, 14);
                border-radius: 5px;
                display: flex;
                flex-direction: column;
                align-items: center;
                color: rgb(236, 206, 160);
                float: left;
                width: 35%;
                height: 20%;
                margin-top: 3%;
                margin-left: 10%;
                margin-right: 2%;
                margin-bottom: 2%;
                padding: 2%;
    
                &:nth-child(2n) {
                    margin-right: 0;
                }
            }
        }

        .containerLunch {
            display: none;

            .itemsLunch {
                font-family: Rancho-Regular;
                background-color: rgb(13, 13, 14);
                border-radius: 5px;
                display: flex;
                flex-direction: column;
                align-items: center;
                color: blanchedalmond;
                float: left;
                width: 35%;
                height: 20%;
                margin-top: 3%;
                margin-left: 10%;
                margin-right: 2%;
                margin-bottom: 2%;
                padding: 2%;

                &:nth-child(2n) {
                    margin-right: 0;
                }
            }
        }
        .containerLunch-active {
            display: block;
        }
    }



    .containerRequest {
        background-color: rgb(184, 181, 181);
        border-radius: 4%;
        height: 400px;
        width: 30%;
        height: 300px;
        margin-top: 2%;
    }
}