@font-face {
    font-family:Rancho-Regular;
    src: url(../Letras/Rancho-Regular.ttf);}

.menuBreak {
    display: flex;
    background-color: rgb(184, 181, 181);
    width: 30%;
    height: 400px;
    list-style: none;
    border-radius: 4%;
    flex-direction: column;
    padding: 4px;
    label{
        font-family:Rancho-Regular;
        font-size: 5vh;
        input {
            width: 70%;
            height: 30px;
            border-radius: 5px;
        }
    } 
.itemsBreak{
    
    font-family: Rancho-Regular;
    background-color: rgb(13, 13, 14);
    color: blanchedalmond;
    display: flex;
    flex-flow: column;
    align-items: center;
    border-radius: 5px;
    height: 70%;
    width: 40%;
}

}