.containerNav {
  position: absolute;
  width: 100%;
  height: 6%;
  background: #8a5e3b;
  display: flex;
  z-index: 1;
  border-radius: 0 0 200px 0;
  .containerLogo {
    display: flex;
    width: 85vw;
    .logoNav {
      width: 3vw;
      height: 5.5vh;
      padding-bottom: 1%;
    }
    .textBurger {
      display: flex;
      width: 10vw;
      height: 5vh;
      padding-top: 0.5%;
      padding-bottom: 0.5%;
      justify-content: center;
      justify-items: center;
    }
    .textLab {
      width: 5vw;
      height: 4.8vh;
      padding-bottom: 0.4%;
      padding-top: 0.5%;
    }
    .heart {
      width: 2vw;
      height: 3vh;
      padding-top: 0.3%;
    }
  }
  .containerLoginUser {
    display: flex;
    align-items: center;
    h4 {
      font-size: 20px;
      color: #f48205;
      padding-right: 5%;
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    }
    p {
      color: #f48205;
      font-size: 24px;
      padding-right: 5%;
      text-transform: uppercase;
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    }
    img {
      width: 2.5vw;
      height: 4.8vh;
    }
  }
}
