:root {
    --main-color: hsla(221, 20%, 59%, 0.185);
    --headerCocina-color: #233152;
    --border-buttoms: 10px;
    --division-color: rgb(11, 11, 11, 0.70);
}
@font-face {
    font-family: kind;
    src: url(/src/componentes/styles/Kind.otf);
  }

.Container0{
    background-color: var(--main-color);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    padding-top: 29vh;
}
.logo {
    width: 9em;
    padding-left: 14em;
  }
  .card-body1{
    margin-top: -35%;
    margin-left: 284px;
  }

  .font {
    font-family: kind;
    font-size: 9vw;
    padding-top: 1rem;
    margin-left: 120px;
  }
  .nombre {
    padding-left: 88px;
    padding-top: 5px;
    color:  #233152;
    font-size: 2vw;
  }
  .input {
    padding-left: 161px;
    padding-top: 21px;
    margin: 7px 22px;
    border: none;
    border-style: solid;
    border-color: #233152;
    background-color: #b4676700;
    outline: none;
  }
  .botonEntrar{
    border-radius:20px 20px 20px 20px;
    background-color: #233152;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #ffffff;
    margin:0px 349px;
    padding: 12px 79px;
    font-size: 1vw;
    
  }

  @media (min-width: 700px) and (max-width: 1290px) {
    .card-body1{
      margin-top: -74%;
      margin-left: 284px;
    }
    .nombre {
      font-size: 2.5vw;
    }
    .font {
      padding-top: 1rem;
      margin-left: 195px;
    }
    .botonEntrar{
      margin:0px 330px;
      font-size: 2vw;
      
    }
  }