:root {
    --main-color: rgba(180, 103, 103, 0.226);
    --secondary-color: rgb(252, 117, 27);
    --secondary-buttons: rgb(253, 159, 97);
}
html{
    background-color: var(--main-color);
}

.Container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 90vh;
    background-color: none ;
    padding-top: 10vh;
}
.grid {
    background-color: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 2fr 1fr 2fr;
    grid-column-gap: 20px;
    grid-row-gap: 0px;
    width: 80%;
    height: 80%;
}
.zonaImagen{
    background-color: none;
    grid-area: 1 / 1 / 2 / 4; 
    display: flex;
    justify-content: center;
    align-items: center;
}
.zonaClase{
    grid-area: 2 / 1 / 3 / 4;
    display: flex;
    justify-content: center;
    align-items: center;
}
.zonaBotones{
    margin-top: 1em;
    grid-area: 3 / 1 / 4 / 4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: scroll;
}
.bot{
    background-color: #D19E9E;
    width: 150px ;
    height: 60px;
    margin: 0.5em;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
