:root {
    --main-color: hsla(220, 20%, 59%, 0.26);
    --headerCocina-color: #233152;
    --border-buttoms: 10px;
    --division-color: rgb(11, 11, 11, 0.70);
}

html{
    background-color: var(--main-color);
}

.Container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 90vh;
    background-color: none ;
    padding-top: 10vh;
}
.grid {
    background-color: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 0px;
    width: 80%;
    height: 80%;
}

.parteUno{
    grid-area: 1 / 1 / 2 / 2; 
    background-color: var(--division-color);
    border-radius: var(--border-buttoms);
    display: inline-grid;
    justify-content: center;
    overflow: scroll;
}
.parteDos{
    grid-area: 1 / 2 / 2 / 3;; 
    background-color: var(--division-color);
    border-radius: var(--border-buttoms);
    display: flex;
    justify-content: center;
    overflow: scroll;
}

.factura{
    background-color: rgb(241, 236, 236);
    color: #233152;
    padding: 1em;
    margin: 1em;
    width: 80%;
    border-radius: var(--border-buttoms);
    overflow: scroll;
}

.title{
    font-size: 2em;
    padding: 0.2em;
    border-bottom: 3px;
    border-bottom-style: solid;
    border-color: #233152;
}
.resumenFactura{
    color: #233152;
    margin: 1em;
}