:root {
  --main-color: rgba(180, 103, 103, 0.226);
  --headerMesero-color: #581010;
  --headerCocina-color: #233152;
  --borderRadius-buttoms: 20px;
  --borderSecundary-buttoms: 0 20px 20px 0;
  --borderThird-buttoms: 20px 0 0 20px;
  --buttoms-color: rgba(255, 255, 255, 0.8);
  --buttomsSecundary-color: #e0bdbd;
  --buttomSecundary-Over: #d19e9e;
  --padding-buttoms: 1em;
}
.Container4{
  background-color:  rgba(180, 103, 103, 0.109);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 90vh;
  padding-top: 29vh;
}
.Container1{
  background-color:  rgba(180, 103, 103, 0.109);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 90vh;
  padding-top: 29vh;
}
.card-body {
  width: 90%;
  margin-left: 9%;
  margin-top: 10%;

}

.grid {
  background-color: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 0px;
  width: 91%;
  height: 80%;
}
.red{
  background: none;
  display: none;
  visibility: hidden;
}

@media (min-width: 700px) and (max-width: 1290px) {
  .Container {
    padding-top: 4vh;
  }
  .card-body {
    margin-left: 9%;
    margin-top: -55%;
  }

}
