@import "src/App.scss";

.bill {
    width: 340px;
    min-height: 520px;
    background-color: $beta;
    border-radius: 5px;
    margin-top: 45px;
    position: relative;
    border: 1px solid $zeta;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.bill-info{
    display: flex;
    flex-direction: column;
    & > label{
       display: flex;
       flex-direction: column;
       line-height: 3; 
       margin: 10px;
       & > div{
           display: flex;
           justify-content: space-around;
           margin-left: 5px;
       }
       > p {
           line-height: 0;
           margin: 0 20px 10px auto;
       }
    }
}

.bill-info-number{
    margin-left: auto;
    border-radius: 0 5px 0 5px;
    width: 52px;
    height: 32px;
    background-color: $eta;
    line-height: 1.7;
    & > p {
    color: $alfa;
    text-align: center;
    }   
}

.bill-info-input{
    margin: 15px;
    width: 210px;
    height: 30px;
    border: none;
}

.bill-title{
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 1fr;
    grid-template-rows: auto;
    text-align: center;
    //display: flex;
    //justify-content: space-around;
    //width: 90%;
    padding: 0px 15px;
    & > p {
        margin-bottom: 15px;
    }
}

.box-grid{
    grid-column: 1/5;
}

.bill-total{
    display: flex;
    justify-content: space-around;
    padding: 10px;
    width: 100%;
    border-top: 1px solid $zeta;
    position: relative;
    bottom: 1px;
}

.bill-botton{
    display: flex;
    height: 100px;
    & > button{
        margin: auto;
    }
}