
@import "src/App.scss";

.btn-default {
  width: 120px;
  height: 40px;
  border-radius: 5px;
  margin: auto;
  cursor: pointer;
  &.confirm{
    color: $sigma;
    border: 2px solid $sigma;
  }
  &.send{
    color: $alfa;
    border: 2px solid $sigma;
    background-color: $sigma;
  }
  &.abort{
    color: $epsylon;
    border: 2px solid $epsylon;
    background-color: transparent;
  }
}

.btn-home {
  width: 300px;
  height: 50px;
  margin: auto;
  border-radius: 5px;
  background-color: $zeta;
  border: none;
  font-weight: bold;
}
