
@import "src/App.scss";

.btn-default {
  width: 120px;
  height: 40px;
  border-radius: 5px;
  margin: auto;
  &.confirm{
    color: $sigma;
    border: 2px solid $sigma;
  }
  &.abort{
    color: $epsylon;
    border: 2px solid $epsylon;
  }
}
