@import "src/App.scss";

.bill-box {
    //display: flex;
    //justify-content: space-around;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 1fr;
    text-align: start;
    height: 60px;
    align-items: center;
    border-top: 1px solid $zeta;
}

.bill-box-quantities, .bill-box-price{
    text-align: center;
}
.bill-box-delete{
    margin: auto;
    width: auto;
    height: 50%;
}
