@import "src/App.scss";

.overlay {
<<<<<<< Updated upstream
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  width: 100%;
  height: 100%;
=======
 position: fixed;
 top: 0;
 bottom: 0;
 right: 0;
 left: 0;
 background-color:rgba(0,0,0,0.5);
 z-index: 1;
 width: 100%;
 height: 100%;
 display: none;
>>>>>>> Stashed changes
}

.modal {
  width: 493px;
  height: 493px;
  background-color: $beta;
  margin: auto;
  display: flex;
  flex-direction: column;
  z-index: 1000;
}
.modal-title {
  display: block;
  margin: auto;
}

.modal-options {
  display: flex;
  height: 120px;
  flex-direction: row;
  justify-content: space-around;
  border: 1px solid $zeta;
}
.modal-label {
  margin: auto;
  width: 100px;
  text-align: center;
}

.modal-label-img {
  display: block;
  margin: auto;
  width: 50px;
}

.modal-label-input {
  border-radius: 50%;
  transform: scale(1.5);
  margin: 10px;
}
