@import "src/App.scss";

.nav-menu {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: $omega;
}

.nav-item {
  list-style: none;
  &.name {
    position: relative;
    left: 400px;
    text-transform: uppercase;
    > p{
      color:$gamma;
    }
  }
  .nav-links {
    display: block;
    padding: 20px;
    text-decoration: none;
    margin: auto;
    &.active {
      border-bottom: 3px solid $gamma;
    }
  }
}
