@import "src/App.scss";

.order{
    width: 270px;
    min-height: 550px;
    background-color: $beta;
    border: 1px solid $zeta;
    border-radius:5px;
    margin: 70px 30px 15px;
    display: flex;
    flex-direction:column;
    position: relative;
}

.order > header {
  border-bottom: 2px solid $zeta;
  margin-bottom: 20px;
}

.order > footer {
  display: flex;
  width: 100%;
  position: absolute;
  border-top:2px solid $zeta;
  bottom: 20px;
  flex-direction: column;
}
.order-client{
    padding: 0 15px 15px;
    font-size: 20px;
}


.oder-table{
  border-collapse: collapse;
  border-bottom: 1px solid $zeta;
}

th {
  padding: 15px 0px;
  padding: 15px 5px 15px;
  text-align: start;
  &:first-child{
    padding-left:10px;
  }
}

th:first-child{
  padding-left:10px;
}

th:last-child{
  padding-right:10px;
}

.order-total{
  display: flex;
  justify-content: space-between;
  padding:20px;
  margin-bottom: 20px;
}
.oder-time{
  margin:30px;
  text-align: center;
  line-height: 2;
}
