@import "src/App.scss";

.stopwatch {
  border: 3px solid $omega;
  border-radius: 5px;
  width: 120px;
  justify-content:center;
  height: 35px;
  display: flex;
  align-items: center;
  margin: auto;
  & > p {
    color: $gamma; 
  }
}
