@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

*{
  margin:0px;
  
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  
  font-size: 16px;
}



@import 'views/home.scss';
@import 'components/notFound.scss';