@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
  margin:0px;
  padding: 0px;
  box-sizing: border-box;
}

$alfa:#FEF9FF;
$beta:#F0F2F5;
$omega:#FEC165;
$sigma:#3C8711;
$epsylon:#D83131;
$gamma:#4D2B91;
$zeta:#D2CECE;


