.App{
  font-family: 'Poppins', sans-serif;
  text-align: center;
  background-color: #3E2723;
  color:#FFE548;
}

.Bar {
  display: grid;
  grid-template-rows: 1;
  grid-template-columns: 12;
  vertical-align: middle;
  text-align: center;
  align-items: center;
  align-content: space-around;
  height: 150px;
  color:#FFFFFF;
  background-color:#FF6D00;
}

.barIcon{
  display: grid;
  grid-column: 1/2;
}

.barMenu{
  display: grid;
  grid-column: 11/12
}

.barTitle{
  display: grid;
  grid-column: 3/10;
}

.button {
  background-color: orange;
  color: black;
  border-radius: 1%;
  font-family: inherit;
}

.main-page{
  background-image: url('./assets/HU1.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  height: 100%;
  font-family: inherit;
  color:wheat;
}

.inputName{
  font-family: inherit;
}

.item{
  color:orange;
  border-color: red;
  background-color:rgb(204, 112, 112);
}



.menuBreakfast-container {
  display: grid;
  grid-template-columns: 12;
  grid-column: 1/6;
  color: white;
  background-color:#dd7d7d;
}

.menuTitle {
  display: grid;
  grid-template-columns: 12;
  grid-column: 1/6;
  color: white;
  background-color:#B71C1C;
}

.menuSupper-container {
  text-align: left;
  display: grid;
  grid-template-columns: 12;
  grid-column: 1/6;
  padding-left: 4em;
  padding-right: 4em;
  margin-top: 4em;
  color: #FFE548;
  background-color: #3E2723;
}

.order-container {
  display: grid;
  grid-template-columns: 12;
  grid-column: 7/12;
  color:#F3B69A;
  background-color:#B71C1C;
}

.takeOrder-container {
  display: grid;
  grid-template-columns: 12;
  align-self: start;
}
