

.Bar {
  display: grid;
  grid-template-rows: 1;
  grid-template-columns: 12;
  vertical-align: middle;
  text-align: center;
  align-items: center;
  align-content: space-around;
  height: 150px;
  color:#FFFFFF;
  background-color:#FF6D00;
}

.barIcon{
  display: grid;
  grid-column: 1/2;
}

.barTitle{
  display: grid;
  grid-column: 3/10;
}

.barMenu{
  display: grid;
  grid-column: 11/12
}

.takeOrder-container {
  display: grid;
  grid-template-columns: 12;
  align-self: start;
}

.menuBreakfast-container {
  display: grid;
  grid-template-columns: 12;
  grid-column: 1/6;
  align-self: start;
  padding-left: 4em;
  padding-right: 4em;
  margin-top: 4em;
  color:#F3B69A;
  background-color:#B71C1C;
}

.order-container {
  display: grid;
  grid-template-columns: 12;
  grid-column: 7/12;
  align-self: start;
  padding-left: 4em;
  padding-right: 4em;
  margin-top: 4em;
  color:#F3B69A;
  background-color:#B71C1C;
}

.menuSupper-container {
  display: grid;
  padding-left: 4em;
  padding-right: 4em;
  margin-top: 4em;
  color: #FFE548;
  background-color: #3E2723;
}
