.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Bar {
  display: grid;
  grid-template-rows: 1;
  grid-template-columns: 12;
  vertical-align: middle;
  text-align: center;
  align-items: center;
  align-content: space-around;
  height: 150px;
  color:#FFFFFF;
  background-color:#FF6D00;
}

.barIcon{
  display: grid;
  grid-column: 1/2;
}

.barTitle{
  display: grid;
  grid-column: 3/10;
}

.barMenu{
  display: grid;
  grid-column: 11/12
}

.takeOrder-container {
  display: grid;
  grid-template-columns: 12;
  align-self: start;
}

.menuBreakfast-container {
  display: grid;
  grid-template-columns: 12;
  grid-column: 1/6;
  align-self: start;
  padding-left: 4em;
  padding-right: 4em;
  margin-top: 4em;
  color:#F3B69A;
  background-color:#B71C1C;
}

.order-container {
  display: grid;
  grid-template-columns: 12;
  grid-column: 7/12;
  align-self: start;
  padding-left: 4em;
  padding-right: 4em;
  margin-top: 4em;
  color:#F3B69A;
  background-color:#B71C1C;
}

.menuSupper-container {
  display: grid;
  padding-left: 4em;
  padding-right: 4em;
  margin-top: 4em;
  color: #FFE548;
  background-color: #3E2723;
}
