@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');

*{
  margin:0px;
  padding: 0px;
  box-sizing: border-box;
}

$alfa:#FEF9FF;
$beta:#F0F2F5;
$omega:#FEC165;
$sigma:rgb(49, 110, 13);
$epsylon:#D83131;
$gamma:#4D2B91;
$zeta:#D2CECE;
$eta: #000;

p{
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}
