// .ng-star-inserted {
//   border: 1px solid;
//   margin: 2px;
//   border-radius: 5px;
//   display: block;
// }

table {
  width: 70%;
}

.mat-header-cell {
  color: "primary";
  font-size: 14px;
  font-weight: bold;
}
