<div class="menu-mobile">
  <p>
    <mat-toolbar color="primary">
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>menu</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button class="category-menu" mat-menu-item routerLink="/home">
          Home
        </button>
        <button class="category-menu" mat-menu-item routerLink="/mesero">
          Mesero
        </button>
        <button class="category-menu" mat-menu-item routerLink="/cocina">
          Cocina
        </button>
        <button class="category-menu" mat-menu-item routerLink="/administracion">
          Administración
        </button>
      </mat-menu>
      <span>administración</span>
    </mat-toolbar>
  </p>
</div>

<app-add-item-form></app-add-item-form>


<!--<table mat-table [dataSource]="menu$" class="mat-elevation-z8">
  <ng-container matColumnDef="item">
    <th mat-header-cell *matHeaderCellDef>
      <strong>Producto</strong>
    </th>
    <td mat-cell *matCellDef="let item">{{ item.item }}</td>
  </ng-container>

  <ng-container matColumnDef="price">
    <th mat-header-cell *matHeaderCellDef>Precio</th>
    <td mat-cell *matCellDef="let item">{{ item.price }}</td>
  </ng-container>

  <ng-container matColumnDef="time">
    <th mat-header-cell *matHeaderCellDef>Menu</th>
    <td mat-cell *matCellDef="let item">{{ item.time }}</td>
  </ng-container>

  <ng-container matColumnDef="category">
    <th mat-header-cell *matHeaderCellDef>Categoria</th>
    <td mat-cell *matCellDef="let item">{{ item.category }}</td>
  </ng-container>

  <ng-container matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let item">
      <button type="button" mat-icon-button class="actions-btn" aria-label="Boton de borrar"
        (click)="deleteItem(item.id)">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
 </table>  -->

<div class="container-center">
  <p>lista de productos</p>
</div>

<div *ngFor="let item of menu$">
  <mat-accordion class="example-headers-align" multi>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <div class="header-exp">
          <div>
            <mat-panel-title>
              {{ item.item }}
            </mat-panel-title>
          </div>
          <div>
            <mat-panel-description>
              {{ item.price | currency}}
              <!-- <mat-icon>account_circle</mat-icon> -->
            </mat-panel-description>
          </div>
        </div>
      </mat-expansion-panel-header>

      <p><span class="wine">Menu: </span> {{ item.time }}</p>
      <p><span class="wine">Categoria:</span> {{ item.category }}</p>
      <div class="container-center">
        <button type="button" mat-raised-button color="primary" class="btn" (click)="deleteItem(item.id)">
          eliminar producto
        </button>
      </div>


    </mat-expansion-panel>
  </mat-accordion>
</div>